/* .background-img{
    width: 100vw;
} */


.login{
    background-image: url(../img/IMG-BACKGROUND.png);
    height: 99.9vh;

    
}

.login h1{

    text-align: center;
    align-items: center;
}

.login .login_title{
    color: #dd7a1e;
    margin-bottom: 10vh;
    font-family: 'Aleo', serif;
    font-weight: 900;
    font-size: 7vh;
    
}

.login_form{
    width: 50vw;
    margin-top: 10vh;


}

.logo_imagen{
    width: 30vw;
    margin-left: 40px;
    margin-top: 40px;
}
.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    height: 6vh;
    font-size: 0.8em;
    background-color: #d9d9d9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.login .btn{
    font-size: 15px;
    background-color: #dd7a1e;
    color: black;
    border-color: #dd7a1e;
    margin-left: 11vw;
    border-radius: 20px;
    width: 30vw;

}