.order {
  background-image: url(../img/Background-pedidos.png);
  background-repeat: no-repeat;
  height: 99.9vh;
}
.order .title {
  margin-bottom: 4vh;
  font-family: "Aleo", serif;
  font-weight: 900;
  font-size: 4vh;
  padding-top: 30px;
  /* margin-top: 10px; */
}
.order .input-name {
  width: 40vw;
  margin-top: 20vh;
  margin-left: 22vh;
}
.order .card {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vw;
}
.order .img-mesero {
  width: 10vw;
}
.order .text-cards {
  font-size: 1.5em;
}

nav .btn-cocina {
  font-size: 1.5em;
  background-color: #dd7a1e;
  color: black;
  border-color: #dd7a1e;
  border-radius: 10px;
  width: 20vw;
  height: 6vh;
}
.order-breakfast .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
}

.btn-success {
  height: 6vh;
  padding-top: 0;
  margin-right: 1vh;
  width: 17vw;
  font-size: 1.5em;
}

.title-pedido {
  font-size: 2em;
  color: black;
  font-family: "Aleo", serif;
}

.icon-back {
  width: 10vw;
}

.order-breakfast {
  background-image: url(../img/Background-pedidos.png);
  background-repeat: no-repeat;
  height: 99.9vh;
}
.order-breakfast.card-prouct{
  height:40vh;
}

.order-lounch .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
}

.order-lounch {
  background-image: url(../img/Background-pedidos.png);
  background-repeat: no-repeat;
  height: 99.9vh;
}
.order .btn {
    
  background-color: #dd7a1e;
  color: black;
  border-color: #dd7a1e;
  border-radius: 20px;
  width: 40vw;
}

.order .btn:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px black;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .order {
    background-image: url(../img/Background-pedidos.png);
    background-repeat: no-repeat;
    height: 99.9vh;
  }
  .order .title {
    margin-bottom: 4vh;
    font-family: "Aleo", serif;
    font-weight: 900;
    font-size: 4vh;
    padding-top: 30px;
    /* margin-top: 10px; */
  }
    .usuario-email {
    font-size: 1rem;

  }


  .order .input-name {
    width: 40vw;
    margin-top: 6vh;
    margin-left: 10vw;
  }
.order .card {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    align-items: center;
    margin-left: 22vw;
    margin-top: 5vh;
    height: 70vh;
  }


  .card-body{
    height: 10vh;

  }
  .order .img-mesero {
    width: 30vw;
  }
  .order .text-cards {
    font-size: 2rem;
  }
  nav .btn-cocina {
    font-size: 1.5em;
    background-color: #dd7a1e;
    color: black;
    border-color: #dd7a1e;
    border-radius: 10px;
    width: 20vw;
    height: 5vh;
  }
  .order .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-success {
    height: 5vh;
    padding: 0;
    margin-right: 1vh;
    font-size: 1em;
    width: 20vw;
  }
  .title-pedido {
    font-size: 2em;
    color: black;
    font-family: "Aleo", serif;
  }

  .icon-back {
    width: 10vw;
  }

  .order-breakfast {
    background-image: url(../img/Background-pedidos.png);
    background-repeat: no-repeat;
    height: 99.9vh;
  }
  .order-breakfast .card-prouct{
  height:40vh;
  
 }

  .order-lounch .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
  }

  .order-lounch {
    background-image: url(../img/Background-pedidos.png);
    background-repeat: no-repeat;
    height: 99.9vh;
  }

  .order .btn {
    
    background-color: #dd7a1e;
    color: black;
    border-color: #dd7a1e;
    border-radius: 20px;
    width: 40vw;
  }

  .order .btn:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px black;
    transition: all 0.2s ease;
  }
  .options-buttons-order{
    margin-top: 3vh;
    
  }

  .button-desayuno{
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-decoration: none;
  }


}

@media only screen and (min-width: 768px) {
  .order {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    height: 99.9vh;
    background-size: cover;
  }

  .order .title {
    margin-bottom: 4vh;
    font-family: "Aleo", serif;
    font-weight: 900;
    font-size: 4vh;
    padding-top: 30px;
  }
  .usuario-email {
    font-size: 2rem;
  }
 
 .order .card {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    align-items: center;
    margin-left: 22vw;
    margin-top: 5vh;
    height: 70vh;
  }
.order-breakfast .card-prouct {
    height: 40vh;
  }

.order .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-success {
    height: 4vh;
    padding-top: 0;
    margin-right: 2vh;
    width: 95px;
    font-size: 20px;
    /* margin-bottom: 1vh; */
  }
  .title-pedido {
    font-size: 2em;
    color: black;
    font-family: "Aleo", serif;
  }

  .icon-back {
    width: 6vw;
    margin-left: 1vw;
  }

  .order-breakfast {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 250vw; */
    height: 99.9vh;
  }

  .order-lounch .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
  }
 .order-lounch {
    background-image: url(../img/Background-pedidos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 99.9vh;
  }

  .button-desayuno {
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-decoration: none;
  }
  .cards-products {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .container-product {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .cards-products  {
    width:30vw;
    height: 20vh;
    margin: 6vh;

    
  }
  .cart-product .list-group-item {
    width: 60vw;
    margin-top: 20vh;
  }
  .cart-product {
    width: 40vw;
    display: block;
  }
  .row-product .cart-product {
    margin-top: 5vh;
    display: block;
  }

}