.form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $white;
    margin-top: 20vh;

    form {
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: 70%;
        max-width: 600px;
        gap: 2vh;
    }

    input {
        border: solid 2px $pinkButton;
        border-radius: 10px;
        background-color: transparent;
        color: $white;
        margin: 5px;
        height: 5vh;
    }

    p {
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: white;
        align-items: center;
    }

    button {
        background-color: $pinkButton;
        border-radius: 50px;
        width: 40%;
        max-width: 250px;
        height: 8vh;
        font-size: 0.7rem;
        border: solid 2px $pinkText;
        color: $white;
        

        &:hover {
            background-color: $pinkText;
            border: solid 2px $pinkButton;
            color: $pinkButton;
        }

    }

}
@media(min-width:768px) {
    .form_container{ 
        button {
            font-size: 1.5rem;
        }
    }
}
