.container {
    background-image: url(https://thumbs.dreamstime.com/b/hamburguesas-deliciosas-con-la-empanada-de-carne-de-vaca-93856260.jpg);
    opacity: 0.9;
    height: 85%;
    width: 70%;
    margin-top: 35px;
}

.logo {
    height: 75px;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    border-bottom:2px solid #d10a0a8f;
}

.ulHerder {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: revert;
    justify-content: space-evenly;
    align-items: baseline;
}

.listaHerder {
    list-style: none;
    border: 2px;
    color: azure;
}

.ulOrdenes {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: revert;
    justify-content: space-evenly;
    align-items: baseline;
    border-bottom:2px solid #ED3539;
    height:35px;
    background-color: #ED3539;
    border-radius: 10px 10px 0px 0px;

}

.butonPro {
    height: 30px;
    color: azure;
    background-color: #ED3539;
    margin: auto;

}

.vistaOrdenes {
    margin-top: 30px;
    height: 375px;
    background-color: #ffb835;
    width: 95%;
    border-radius:20%;
    border-radius:  10px;
}

.BotonVerOrden{
    width: 100%;
    text-align: center;
}
#verOrden{
    background-color: #d2691ecc;
}
a{
    color: azure;
    text-decoration:none;
}
.sectionProducto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    height: 305px;
    margin-top: 10px;
}

.cardProducto{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100px;
    align-items: center;
    text-align: center;
    border-radius:  10px;
}
.imgProduct{
    height: 50px;
    width: 60%;
    margin-top: 5px;
}
.nombreProducto{
    font-size: 12px;
    margin-top: 9px;
}
