* {
  margin: 0;
  padding: 0;
  background-color: #e47e10;
}

@media screen and (max-width: 850px) {
  .form-container {
    
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 330px;
    margin-left: 5px;    
  }

  .buttons-container {
    display: flex;
    gap: 10px;
    justify-items: center;
    margin-left: 40px;
  }

  input {
    position: relative;
    width: 284px;
    height: 43px;
    background: #fffeec;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
    font-family: "Crete Round";
    font-size: 24px;
  }

  .btn {
    position: relative;
    width: 175px;
    height: 44px;
    font-family: "Crete Round";
    font-size: 24px;
    background: #001f4e;
    color: #ffffff;
    border-radius: 15px;
    margin-left: 60px;
  }

  /* @media screen and (max-width: 1850px) { */
  /* .landing {
  /* background: #e47e10; */

  /* height: 900;
  width: 100; */
  /*} */
  /*vista web*/
  /* .landing button {
  position: relative;
  top: 650px;
  left: 900px;
  /* width: 175px;
  height: 44px; */
  /* font-family: 'Crete Round';
  font-size: 24px;  
  background: #001f4e;
  color: #FFFFFF;
  border-radius: 15px;  
} */
}
