.admin_Container {
    background-image: url('../../img/fondoPizzara.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    color: $white;

    header {
        display: flex;
        width: 100%;
        img {
            width: 20%;
            max-width: 150px;
        }
    }


}

