.tableUser_container {
    width: 90%;
    border: 5px solid $pinkButton;
    gap: 50px;
    
}

.userItem_Container {
    display: flex;
    // border: solid 2px white;
    gap: 15px;
    background-color: #3A3636;
    margin: 5px;
}