.admin_Container {
    background-image: url('../../img/fondoPizzara.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    color: $white;

    // header {
    //     display: flex;
    //     width: 100%;
    //     img {
    //         width: 20%;
    //         max-width: 150px;
    //     }
    // }


    button{
        background-color: $pinkButton;
        border-radius: 50px;
        width: 40%;
        max-width: 250px;
        height: 8vh;
        font-size: 0.7rem;
        border: solid 2px $pinkText;
        color: $white;
        margin: 5px;
    
        &:hover {
            background-color: $pinkText;
            border: solid 2px $pinkButton;
            color: $pinkButton;
        }}

}

