*{
  margin: 0;
  box-sizing: border-box;
}

.landing {
  background-image: url('../img/landing-background.png');
  background-size: 600px 900px;
  height: 900px;
  width: 100;
  background-repeat: no-repeat;
}

.landing button {
  position: relative;
  width: 219px;
  height: 72px;
  top: 332px;
  left: 86px;
  color: white;
  background-color: rgba(224, 51, 77, 1);
  border: 2px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
  font-size: 32px;
}

.login {
  background-image: url('../img/login-background.png');
  background-size: 600px 900px;
  height: 1000px;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 47px;
  top: 342px;
}

.login input {
  background: #FFFFFF;
  border: 1px solid #776B04;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 350px; 
  height: 50px;
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 800;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.buttons-container button{
  background-color: rgba(224, 51, 77, 1);
  width: 150px;
  height: 50px;
  color: #FFFFFF;
  border-radius: 30px;
}
