*{
  margin: 0;
  box-sizing: border-box;
}

.landing {
  background-image: url('../img/landing-background.png');
  background-size: 600px 900px;
  height: 900px;
  width: 100;
  background-repeat: no-repeat;
}

.landing button {
  position: relative;
  width: 219px;
  height: 72px;
  top: 332px;
  left: 86px;
  color: white;
  background-color: rgba(224, 51, 77, 1);
  border: 2px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
  font-size: 32px;
}

.login {
  background-image: url('../img/login-background.png');
  background-size: 600px 900px;
  height: 1000px;
  background-repeat: no-repeat;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  top: 300px;
}

.form-container input, select {
  background: #FFFFFF;
  border: 1px solid #776B04;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 300px; 
  height: 50px;
  margin: 10px;
  margin-left: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
  font-size: 25px;
  font-weight: 800;
  color: rgb(125, 117, 117);
}

.buttons-container {
  display: flex;
  gap: 10px;
  justify-items: center;
  margin-left: 40px;
}

.buttons-container button{
  background-color: #2E303E;
  width: 140px;
  height: 50px;
  color: #FFFFFF;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
  font-size: 20px;
  border: 2px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
