@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Combo&family=DM+Mono:wght@300&family=Montserrat:wght@500&family=Reem+Kufi+Fun&family=Roboto:wght@300;400&family=Yantramanav:wght@300&display=swap");

* {
  font-family: "Cantora One", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.waiterOrders {
  display: flex;
  flex-direction: column;
  background-image: url("../img/waitersBackground.jpeg");
  background-size: 600px 900px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  justify-items: center;
  text-align: center;
}

h1 {
  color: antiquewhite;
  text-shadow: 2px 2px #ff0000;
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
  color: antiquewhite;
  text-shadow: 2px 1.5px #ff0000;
}

.linkOrders {
  color: white;
  text-decoration: none;
  /* margin-left: 4px; */
}

.linkStatus {
  color: white;
  text-decoration: none;
  /* margin-left: 6px; */
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.3em;
}

.linkOrders:hover {
  color: #ac1212;
  background-color: rgba(250, 235, 215, 0.493);
  
}

/* .buttonsWaiter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */

/* .pedidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-left: 90px;
  margin-right: 30px;
  margin-top: 300px;
} */

/* .hola {
    background-color: #2E303E;
    color: white;
    border-radius: 15px;
    border-color: white;
    font-size: 13px;
} */

.takeOrders {
  display: flex;
  flex-direction: row;
  margin-left: 63px;
  margin-top: 145px;
  color: azure;
}

.order-counter {
  display: flex;
  align-items: center;
  margin: 15px auto 15px auto;
  gap: 10px;
}

.orderNum {
  /* margin-right: 150px;
    margin-left: 20px; */
}

.orderNumber {
  /* 
    margin-left: 120px;
    margin-top: -16px;     */
  width: 40px;
}

/* .buttonProducts {
    display: flex;
    flex-direction: column  ;
    justify-content: space-around;
    align-items: flex-start;
}

.buttonProducts button {
    background-color: palevioletred;
    height: 40px;
    width: 100px;
} */

.dataProducts {
  display: flex;
  flex-direction: column;
  margin: 20px 5px 20px 5px;
  text-align: justify;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .waiterOrders {
    background-image: url("../img/waitersBackground.jpeg");
    background-size: 800px 1024px;
    height: 1024px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-items: center;
  }
}
