.header {
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #EC297E;
    width: 100vw;
    margin-bottom: 40px;
}

.navAMenu {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 5vw;
}

.headerLogoBig {
    width: 70vw;
    margin: 20px 0px 5px 0px;
}

.adminView{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addProModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleAddProduct {
    color: white;
    margin: -4vw 0vw 7vw 0vw;
    font-size: 6vw;
    font-weight: 400;
}

.addProdSection {
    display: flex;
    justify-content: center;
}

.addProductInput {
    width: 67vw;
    height: 10vw;
    margin: 1vw;
    color: rgb(64, 64, 64);
    font-size: 4.3vw;
    text-align: center;
    border-radius: 2vw;
    border: 0.5vw solid white;
}

.addProductInput:focus {
    border-color: #5271FF;
    outline: 0;
}

.addProductInput::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgb(172, 172, 172);
}

.addProductLabel {
    width: 67vw;
    height: 10vw;
    margin: 1vw;
    color: rgba(60, 60, 60, 0.8);
    font-size: 4.3vw;
    text-align: center;
    border-radius: 2vw;
    /* border: 0.5vw solid #5271FF; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5d3d5;
}

.addProductLabel:hover {
    color: white;
    background-color: #5271FF;
}

.addProductImage {
    display: none;
}


.addProdModalBtn {
    width: 67vw;
    height: 10vw;
    color: #5271FF;
    margin-top: 10vw;
    font-size: 4.3vw;
    font-weight: 500;
    border-radius: 2vw;
    align-items: center;
    background-color: #FADF25;
    border: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgb(0 0 0 / 30%) 0 3px 4px;
}

.addProdModalBtn:hover {
    color: white;
    background-color: #5271FF;
}

.addProductBtn {
    width: 70vw;
    height: 10vw;
    color: white;
    margin-top: 10vw;
    font-size: 4.5vw;
    font-weight: 500;
    border-radius: 2vw;
    align-items: center;
    background-color: #EC297E;
    border: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgb(0 0 0 / 15%) 0 3px 4px;
}

.addProductBtn:hover {
    background-color: #5271FF;
}

.productsList {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 90%;
    padding: 3vw;
    background-color: #E9E8E9;
    border-radius: 2vw;
    border: 0.6vw solid #EC297E;
}

.titleListProduct{
    color: #EC297E;
    font-size: 5vw;
    margin-bottom: 20px;
}

.containProduct{
    display: flex;
    text-align: left;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin: 10px 0;
    align-items: center;
}

.productImage{
    width: 70px;
}

.productText {
    padding-left: 4vw;
}

.productText p{
    color: #404040;
}
.productType {
    font-weight: 600;
}
.productPrice {
    padding-left: 2vw;
}