* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
}

.loginComponent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EC297E;
}

.logoMobile {
    height: 55vw;
    margin-bottom: -3vw;

}

.logoDesk {
    display: none;
}

.boxForm {
    width: 83vw;
    height: 107vw;
    border-radius: 3vw;
    padding-top: 13vw;
    border: 0.4vw solid white;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.titleLogin {
    color: white;
    margin-bottom: 13vw;
    font-size: 7vw;
    font-weight: 500;
}

.emailInput {
    width: 74vw;
    height: 9vw;
    color: rgb(64, 64, 64);
    font-size: 4.5vw;
    text-align: center;
    border-radius: 2vw;
    border: 0.5vw solid white;
}

.emailInput:focus {
    border-color: #5271FF;
    outline: 0;
}

.emailInput::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgb(172, 172, 172);
}

.passwordInput {
    width: 74vw;
    height: 9vw;
    color: rgb(64, 64, 64);
    font-size: 4.5vw;
    text-align: center;
    border-radius: 2vw;
    border: 0.5vw solid white;
}

.passwordInput:focus {
    border-color: #5271FF;
    outline: 0;
}

.passwordInput::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgb(172, 172, 172);
}

.loginBtn {
    width: 74vw;
    height: 9vw;
    color: #5271FF;
    margin-top: 8vw;
    font-size: 5vw;
    font-weight: 700;
    border-radius: 2vw;
    align-items: center;
    background-color: #F9DF25;
    border: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgb(0 0 0 / 15%) 0 6px 6px;
}

.loginBtn:hover {
    color: white;
    background-color: #5271FF;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: white;
}

@media only screen and (max-width: 829px) and (min-width: 600px) {
    .boxForm {
        height: 87vw;
        width: 75vw;
        padding-top: 10vw;
    }

    .loginForm {
        gap: 3vw;
    }
    
    .logoMobile {
        height: 55vw;
        margin-bottom: -5vw;
        margin-top: -10vw;
    }

    .titleLogin {
        font-size: 6vw;
        margin-bottom: 8vw;
    }

    .emailInput {
        font-size: 3.6vw;
        border: 0.5vw solid white;
        width: 67vw;
    }

    .passwordInput {
        font-size: 3.6vw;
        border: 0.5vw solid white;
        width: 67vw;
    }

    .loginBtn {
        font-size: 4vw;
        margin-top: 6vw;
        width: 67vw;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.7em;
        color: white;
    }

}

@media (min-width: 830px) {
    .loginComponent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100vw;
        min-height: 100vh;
    }

    .logoMobile {
        display: none;
    }

    .logoDesk {
        height: 45vw;
        display: block;
        margin-right: 1em;
    }

    .titleLogin {
        margin-top: 0.5em;
        margin-bottom: 1.2em;
        font-size: 3vw;
        font-weight: 600;
    }

    .boxForm {
        width: 36vw;
        height: 39vw;
        border-radius: 2vw;
        padding: 3vw;
        border: 0.2vw solid white;
    }

    .loginForm {
        gap: 1.1vw;
    }

    .emailInput {
        width: 30vw;
        height: 4vw;
        color: black;
        font-size: 1.4em;
        border-radius: 1vw;
        border: 0.15vw solid white;
    }

    .passwordInput {
        width: 30vw;
        height: 4vw;
        color: black;
        font-size: 1.4em;
        border-radius: 1vw;
        border: 0.15vw solid white;
    }

    .loginBtn {
        width: 30vw;
        height: 4vw;
        margin-top: 3vw;
        font-size: 1.9vw;
        font-weight: 700;
        border-radius: 1vw;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        color: white;
    }
}