* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.loginComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

.logoBurger {
    height: 160px;
}

.boxForm {
    width: 300px;
    height: 400px;
    border: solid;
    border-radius: 20px;
    border-color: #F0B44C;
    padding-top: 75px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titleLogin {
    margin-bottom: 20px;
    font-size: 30px;
}

.emailInput {
    width: 250px;
    height: 30px;
    color: black;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    border: 1.3px solid #F0B44C;
}

.emailInput:focus {
    border-color: #F9965E;
    outline: 0;
}

.emailInput::placeholder {
    color: rgb(148, 144, 144);
}

.passwordInput {
    width: 250px;
    height: 30px;
    color: black;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    border: 1.3px solid #F0B44C;
}

.passwordInput:focus {
    border-color: #F9965E;
    outline: 0;
}

.passwordInput::placeholder {
    color: rgb(148, 144, 144);
}

.loginBtn {
    width: 250px;
    height: 35px;
    color: white;
    margin-top: 25px;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
    background-color: #F0B44C;
    border: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 4px;
}

.loginBtn:hover {
    background-color: #F9965E;
}