* {
  margin: 0;
  padding: 0;
}


.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .85);
}

.modal-content {
  width: 77vw;
  height: 118vw;
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2vw;
  border: 0.5vw solid white;
  background-color: #EC297E;
}

.modal-open {
  display: flex;
}

.closeAddProdBtn {
  width: 67vw;
  height: 10vw;
  color: white;
  margin-top: 3vw;
  font-size: 4.3vw;
  font-weight: 500;
  border-radius: 2vw;
  align-items: center;
  background-color: #5271FF;
  border: white;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgb(0 0 0 / 30%) 0 3px 4px;
}

.closeAddProdBtn:hover {
  color:white;
  background-color: black;
}

@media only screen and (max-width: 829px) and (min-width: 600px) {

  .modal-content {
      width: 77vw;
      height: 107vw;
      padding: 13px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 3vw;
      border: 0.4vw solid white;
      background-color: #EC297E;
  }
  .closeAddProdBtn {
    width: 67vw;
    height: 10vw;
    margin-top: 2vw;
    font-size: 4.3vw;
    font-weight: 500;
    border: white;
    border-radius: 2vw;
    box-shadow: rgb(0 0 0 / 30%) 0 2px 3px;
  }

}

@media (min-width: 830px) {

  .modal-content {
    width: 37vw;
    height: 47vw;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.3vw;
    border: 0.2vw solid white;
    background-color: #EC297E;
}

.closeAddProdBtn {
  width: 29vw;
  height: 4vw;
  margin-top: 1vw;
  font-size: 2vw;
  font-weight: 500;
  border: white;
  border-radius: 1vw;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 3px;
}


}