* {
  margin: 0;
  padding: 0;
}


.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .85);
}

.modal-content {
    width: 60vw;
    height: 88vw;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    border: 0.5vw solid white;
    background-color: #EC297E;
}

.modal-open {
  display: flex;
}

.closeAddProdBtn {
  width: 14vw;
  height: 0vw;
  color: white;
  font-size: 3vw;
  font-weight: 600;
  margin-top: 2vw;
  margin-bottom: 7vw;
  align-items: center;
  background-color: #EC297E;
  border: white;
  text-decoration: underline;
}