.navLink{
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 4.6vw;
    font-weight: 300;
}

.orderProdSect {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 90%;
    padding: 3vw;
    background-color: #E9E8E9;
    border-radius: 2vw;
    border: 0.4vw solid #EC297E;
    font-size: 12px;
}

.titleOrderProduct{
    color: #454343;
    font-size: 4.2vw;
    font-weight: 400;
}

.orderProductInput{
    width: 49vw;
    height: 7vw;
    margin: 0.5vw;
    color: #454343;
    font-size: 4.3vw;
    text-align: center;
    border-radius: 2vw;
    border: 0.1vw solid white;
}

.orderDetailsCont  {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    gap: 2px;
    margin: 10px 0;
    align-items: center;
}
.boxOrderSection {
    background-color: #ffffff;
    border-radius: 5px;
}
.boxOrder {
    width: 100%;
    border-spacing: 0px;
}
.rowOrder {
    background: #EC297E;
    border-radius: 5px;
    height: 30px;
}

.titleNameOrder {
    border-radius: 5px 0 0 5px;
    border: 0 solid;
    border-color: inherit;
}

.titleDeleteOrder{
    border-radius: 0 5px 5px 0;
    border: 0 solid;
    border-color: inherit;
}

.textOrder{
    color:#454343; 
}

tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    border-spacing: 0;
    overflow: hidden;
}
th {
    font-weight: 400;
    color: #ffffff;
}

.tableOrderTotal{
    width: 100%;
    background-color: #ffda00;
    border-radius: 5px;
    height: 23px;
    font-size: 13px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.orderAddBtn{
    width: 30vw;
    height: 7vw;
    color: white;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: 400;
    border-radius: 1vw;
    align-items: center;
    border: white;
    font-family: 'Poppins', sans-serif;
    background-color: #EC297E;
    box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
}

.cancelOrderBtn{
    width: 30vw;
    height: 7vw;
    color: white;
    margin: 3vw 0vw 0vw 7vw;
    font-size: 3vw;
    font-weight: 400;
    border-radius: 1vw;
    align-items: center;
    border: white;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
    box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
}
/* 

.header {
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #EC297E;
    width: 100vw;
    margin-bottom: 40px;
}

.navAMenu {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 5vw;
}

.headerLogoBig {
    width: 70vw;
    margin: 20px 0px 5px 0px;
}

.adminView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addProModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producSect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleAddProduct {
    color: white;
    margin: -4vw 0vw 7vw 0vw;
    font-size: 6vw;
    font-weight: 400;
}

.addProdSection {
    display: flex;
    justify-content: center;
}

.addProductInput {
    width: 67vw;
    height: 10vw;
    margin: 1vw;
    color: rgb(64, 64, 64);
    font-size: 4.3vw;
    text-align: center;
    border-radius: 2vw;
    border: 0.1vw solid white;
}

.addProductInput:focus {
    border-color: #5271FF;
    outline: 0;
}

.addProductInput::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgb(172, 172, 172);
}

.addProductLabel {
    width: 67vw;
    height: 10vw;
    margin: 1vw;
    color: rgba(60, 60, 60, 0.8);
    font-size: 4.3vw;
    text-align: center;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5d3d5;
}

.addProductLabel:hover {
    color: white;
    background-color: #5271FF;
}

.addProductImage {
    display: none;
}


.addProdModalBtn {
    width: 67vw;
    height: 10vw;
    color: #5271FF;
    margin-top: 10vw;
    font-size: 4.3vw;
    font-weight: 500;
    border-radius: 2vw;
    align-items: center;
    background-color: #FADF25;
    border: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgb(0 0 0 / 30%) 0 3px 4px;
}

.addProdModalBtn:hover {
    color: white;
    background-color: #5271FF;
}

.addProductBtn {
    width: 70vw;
    height: 10vw;
    color: white;
    margin-top: 10vw;
    font-size: 4.5vw;
    font-weight: 500;
    border-radius: 2vw;
    align-items: center;
    background-color: #EC297E;
    border: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgb(0 0 0 / 15%) 0 3px 4px;
}

.addProductBtn:hover {
    background-color: #5271FF;
}

.addProdForm {
    display: none;
}

.titleListProduct {
    color: #EC297E;
    font-size: 5vw;
    margin-bottom: 20px;
}

.containProduct {
    display: flex;
    text-align: left;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.productDetails{
    display: flex;
}

.productImage {
    width: 70px;
    height: 70px;
}

.productText {
    padding-left: 4vw;
}

.productText p {
    color: #404040;
}

.productType {
    font-weight: 600;
}

.productPrice {
    padding-left: 2vw;
}

@media only screen and (max-width: 829px) and (min-width: 600px) {
    .header {
        justify-content: center;
    }

    .navLink {
        margin: 30px;
        font-weight: 300;
    }

    .productsList {
        width: 100%;
    }

    .modal-content {
        width: 37vw;
        height: 47vw;
        padding: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2vw;
        border: 0.2vw solid white;
        background-color: #EC297E;
    }

    .titleAddProduct {
        color: white;
        margin: 3vw 0vw 6vw 0vw;
        font-size: 5.5vw;
        font-weight: 400;
    }

}

@media (min-width: 830px) {
    .header {
        height: 14vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .headerLogoBig {
        width: 38vw;
    }

    .navLink {
        text-decoration: none;
        color: white;
        margin: 23px;
        font-size: 2.2vw;
        font-weight: 300;
    }


    .producSect {
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: flex-start;

    }

    .productsList {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1.5vw;
        margin: 1vw;
        border-radius: 1vw;
        border: 0.2vw solid #EC297E;
    }

    .productText {
        padding-left: 2vw;
    }

    .titleListProduct {
        color: #EC297E;
        font-size: 2.2vw;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 500;
    }

    .containProduct {
        margin: 5px 0;
    }

    .iconContainer {
        width: 4vw;
        height: 4.2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .addProductBtn {
        display: none;
    }

    .addProdForm {
        display: block;
        width: 36vw;
        height: 43vw;
        margin: 1vw;
        padding: 10px;
        border: 0vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1vw;
        background-color: #EC297E;
    }

    .titleAddProduct {
        margin: 1vw 0vw 2vw 0vw;
        font-size: 2.2vw;
        font-weight: 400;
    }

    .addProductInput {
        width: 29vw;
        height: 4vw;
        margin: 0.5vw;
        font-size: 1.9vw;
        border-radius: 1vw;
    }
    
    .addProductInput:focus {
        border: 0.2vw solid #5271FF;
    }

    .addProductLabel {
        width: 29vw;
        height: 4vw;
        margin: 0.5vw;
        font-size: 1.9vw;
        border-radius: 1vw;
    }

    .addProdModalBtn {
        width: 29vw;
        height: 4vw;
        margin-top: 4vw;
        font-size: 1.9vw;
        font-weight: 400;
        border-radius: 1vw;
        box-shadow: rgb(0 0 0 / 30%) 0 2px 3px;
    }
    .cancelAddProdBtn {
        width: 29vw;
        height: 4vw;
        margin-top: 1vw;
        color: white;
        font-size: 1.9vw;
        font-weight: 400;
        border-radius: 1vw;
        align-items: center;
        background-color: #5271FF;
        border: white;
        font-family: 'Poppins', sans-serif;
        box-shadow: rgb(0 0 0 / 30%) 0 2px 3px;
    }

    .cancelAddProdBtn:hover {
        color: white;
        background-color: black;
      }

      .modal-content {
        width: 37vw;
        height: 47vw;
        padding: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2vw;
        border: 0.2vw solid white;
        background-color: #EC297E;
    }
} */