.header{
    height: 29vw;
    margin-bottom: 10px;
}

.headerLogoBig {
    width: 50vw;
    margin: 6px 0px -2px 0px;
}

.navLink{
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 4.6vw;
    font-weight: 300;
}

.orderProdSect {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 90%;
    padding: 3vw;
    background-color: #E9E8E9;
    border-radius: 2vw;
    border: 0.4vw solid #EC297E;
    font-size: 12px;
}

.titleOrderProduct{
    color: #454343;
    font-size: 4.2vw;
    font-weight: 400;
}

.orderProductInput{
    width: 49vw;
    height: 7vw;
    margin: 0.5vw;
    color: #454343;
    font-size: 4.3vw;
    text-align: center;
    border-radius: 2vw;
    border: 0.1vw solid white;
}

.orderDetailsCont  {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    gap: 2px;
    margin: 10px 0;
    align-items: center;
}
.boxOrderSection {
    background-color: #ffffff;
    border-radius: 5px;
}
.boxOrder {
    width: 100%;
    border-spacing: 0px;
}
.rowOrder {
    background: #EC297E;
    border-radius: 5px;
    height: 30px;
}

.titleNameOrder {
    border-radius: 5px 0 0 5px;
    border: 0 solid;
    border-color: inherit;
}

.titleDeleteOrder{
    border-radius: 0 5px 5px 0;
    border: 0 solid;
    border-color: inherit;
}

.textOrder{
    color:#454343; 
}

tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    border-spacing: 0;
    overflow: hidden;
}
th {
    font-weight: 400;
    color: #ffffff;
}

.tableOrderTotal{
    width: 100%;
    background-color: #ffda00;
    border-radius: 5px;
    height: 23px;
    font-size: 13px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.orderAddBtn{
    width: 30vw;
    height: 7vw;
    color: white;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: 400;
    border-radius: 1vw;
    align-items: center;
    border: white;
    font-family: 'Poppins', sans-serif;
    background-color: #EC297E;
    box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
}

.cancelOrderBtn{
    width: 30vw;
    height: 7vw;
    color: white;
    margin: 3vw 0vw 0vw 7vw;
    font-size: 3vw;
    font-weight: 400;
    border-radius: 1vw;
    align-items: center;
    border: white;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
    box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
}

.menuBtns{
    display: flex;
}
.menuBreakfastBtn, .menuLunchBtn, .menuDrinksBtn{
    background-color: #ffda00;
    padding: 10px;
    border: none;
    border-radius: 15px 15px 0 0;
    margin: 0 4px;
}
.menuBreakfastBtn i, .menuLunchBtn i, .menuDrinksBtn i{
    margin: 0 5px;
}

.active {
    background-color: #EC297E;
}

