.order {
    background: url('../resources/background-hamburger.png');
    background-size: cover;
    min-height: 100vh;
    /* border: solid 2px green; */
}

.btnStateOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    background-color: #BCE402;
    border-radius: 25px;
    border-style: none;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.btnStateOrder:hover {
    border: solid 2px #92b301;
}

.iconArrow {
    margin-left: 5px;
    font-size: 18px;
}

.mainlist {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Realizar Pedido */
.containerH1 h1 {
    color: white;
    text-align: center;
    margin-top: 5px;
}

/* contenedor del formulario */
.formOrder {
    /* border: solid 2px rgb(255, 23, 100); */
    background-color: white;
    border-radius: 25px;
    display: inline-grid;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 85%;
}

.pOrderSummary {
    /* border: solid 2px rgb(112, 200, 216); */
    margin-bottom: 5px;
    font-weight: bold;
}

.formOrder p {
    /* border: solid 2px rgb(112, 200, 216); */
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.inputNameClient {
    /* border: solid 1px rgb(255, 187, 0); */
    border-style: none;
    background-color: #D9D9D9;
    border-radius: 25px;
    height: 30px;
    padding-left: 15px;
    margin-bottom: 15px;
}

input:focus {
    outline: solid 1px #F8B62A;
    box-shadow: 0px 0px 10px #F8B62A;
}

.containerPCO {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 25px;
    /* border: solid 2px rgb(35, 145, 235); */
}

.containerProductOrder {
    display: grid;
    grid-template-columns: 35% 20% 25% 15%;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 100%;
    /* border: solid 2px rgb(101, 165, 42); */
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.btnQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px #F8B62A; */
    width: 70px;
}

.btnFewer,
.btnAdd {
    border-style: none;
    background-color: transparent;
}

.pControl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 30px;
    width: 30px;
    background-color: #F8B62A;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    margin-bottom: 5px;
}

.trashContainer {
    width: 32px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    /* padding-top: 4px; */
    background-color: #FF0606;
    color: white;
    border-radius: 50%;
    border-style: none;
    /* border: solid 2px #F8B62A; */
}

.totalPrice {
    display: flex;
    height: 40px;
    background-color: #F8B62A;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.sectionBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formOrder .btnEnviar {
    margin: 5px;
    background-color: #BCE402;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
}

.formOrder .btnCancel {
    color: white;
    margin: 5px;
    background-color: #FF0606;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
}

@media all and (min-width: 768px) {

    .btnStateOrder {
        font-size: 18px;
        font-weight: bold;
        width: 200px;
        height: 40px;
    }

    .iconArrow {
        font-size: 25px;
    }

    /* Realizar Pedido */
    .containerH1 h1 {
        font-size: 30px;
    }

    /* contenedor del formulario */
    .formOrder {
        width: 70%;
        /* border: solid 2px rgb(251, 255, 4); */
    }

    .containerLabels {
        justify-content: space-around;
        font-weight: bold;
    }

    .formOrder p {
        font-size: 16px;
    }

    .inputNameClient {
        /* border: solid 2px palegreen; */
        height: 40px;
        width: 90%;
        font-size: 18px;
    }

    .formOrder .btnEnviar,
    .formOrder .btnCancel {
        width: 150px;
        height: 35px;
        font-size: 20px;
    }

    .containerPCO {
        height: 60px;
    }

    .mainlist {
        /* border: solid 2px red; */
        align-items: center;
    }
}

@media all and (min-width: 1024px) {


    .btnStateOrder {
        font-size: 20px;
        font-weight: bold;
        width: 210px;
        height: 45px;
    }

    .formOrder {
        width: 90%;
    }

    .mainlist {
        flex-direction: row;
    }

    .trashContainer {
        width: 36px;
        height: 38px;
        font-size: 20px;
    }

    .formAddProduct {
        width: 100%;

    }

    .containerProductOrder {
        grid-template-columns: 35% 15% 15% 10%;
        /* border: solid 2px brown; */
    }

    .name p {
        font-size: 20px;
    }

    .totalPrice {
        height: 50px;
    }

    .totalPrice p {
        font-size: 20px;
    }

    .formOrder .btnEnviar,
    .formOrder .btnCancel {
        width: 160px;
        height: 40px;
        font-weight: bold;
    }

    .formOrder p {
        /* border: solid 2px rgb(112, 200, 216); */
        font-size: 22px;
    }

}