/* lista de usuarios */

.usersAll {
    background: url('../resources/background-hamburger.png');
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divForUsers{
    /* border: solid 1px rgb(255, 230, 0); */
    width: 100%;
    padding-left: 5px;
}

.containerBtnBack {
    /* border: solid 1px lightblue; */
    width: 88%;
    margin-top: 10px;
}

/* texto administrador de productos */
.usersAll h3 {
    color: white;
    text-align: center;
    font-size: 18px;
}

.containerFormListUsers {
    /* border: solid 2px rgb(37, 71, 4); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerFormAddUser {
    /* border: solid 2px rgb(140, 228, 52); */
    height: 100%;
    width: 100%;
}

.containerUsersAdmin {
    /* border: solid 2px rgb(169, 24, 236); */
    padding-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.usersContainer {
    /* border: solid 2px rgb(14, 194, 226); */
    text-align: center;
    display: grid;
    height: 120px;
    width: 90%;
    grid-template-rows: 20% 20% 20%;
    background: white;
    border-radius: 25px;
    padding: 5px;
    margin-top: 10px;
}

.usersContainer p {
    font-size: 16px;
    /* border: solid 2px rgb(21, 226, 14); */
}

/* <p> Agregar Producto </p> */
.uAddUserForm {
    margin-bottom: 5px;
    font-weight: bold;
    /* border: solid 2px rgb(46, 43, 226); */
}

.inputEmailUser,
.inputPasswordUser {
    border-style: none;
    background-color: #D9D9D9;
    border-radius: 25px;
    height: 40px;
    padding-left: 15px;
}

.SelectRolUser {
    height: 30px;
    padding-left: 10px;
    /* background-color: #ED751E; */
    background-color: #F8B62AD9;
    color: rgb(65, 64, 64);
    border-radius: 15px;
    border-style: none;
    margin-top: 5px;
}

.sectionBtn {
    /* border: solid 2px blueviolet; */
    margin-top: 10px;
}

.btnContainerUsers {
    text-align: right;
    margin-right: 25px;
    margin-top: -20px;
}

.btnEditAdmonUsers {
    color: black;
    width: 60px;
    height: 30px;
    background-color: #BCE402;
    border-radius: 15px;
    border-style: none;
    margin-right: 5px;
}

.btnEditDeleteUser {
    color: white;
    width: 60px;
    height: 30px;
    background-color: #ff0606;
    border-radius: 15px;
    border-style: none;
    margin-right: 5px;
}

.btnEditAdmonUserModal {
    color: black;
    width: 60px;
    height: 30px;
    background-color: #BCE402;
    border-radius: 15px;
    border-style: none;
    margin-right: 5px;
}

@media all and (min-width: 768px) {

    .usersContainer {
        grid-template-columns: 50% 30% 20%;
        justify-content: center;
        border-radius: 25px;
        margin: 10px;
        height: auto;
        width: 95%;
    }

    .containerFormListUsers {
        /* border: solid 2px rgb(37, 71, 4); */
        width: 90%;
    }

    .usersAll h3 {
        font-size: 32px;
    }

    .containerFormAddUser {
        display: flex;
        justify-content: center;
    }

    .containerUsersAdmin {
        width: 90%;
        margin-bottom: 20px;
    }

    .usersContainer {
        grid-template-columns: 40% 30% 15%;
    }

    .usersContainer p {
        font-size: 18px;
    }

    .SelectRolUser {
        height: 40px;
    }

    .btnEditAdmonUsers {
        width: 95px;
        height: 40px;
    }

    .btnEditDeleteUser {
        width: 95px;
        height: 40px;
        margin-right: 10px;
    }
}

@media all and (min-width: 1024px) {

    .containerFormListUsers {
        /* border: solid 2px rgb(37, 71, 4); */
        align-items: flex-start;
        flex-direction: row;
    }

    .usersContainer p {
        font-size: 16px;
    }

    .btnEditAdmonUsers, .btnEditDeleteUser {
        width: 90px;
        height: 40px;
        font-size: 16px;
    }

    .inputEmailUser,
    .inputPasswordUser, 
    .SelectRolUser {
        height: 40px;
        font-size: 18px;
    }


}