body {
  margin: 0;
}

.App-logo {
  width: 200px;
  height: auto;
}


.App {
  background: url('./resources/background-hamburger.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.formLogin {
  /* border: solid 1px yellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.formLogin input {
  color: white;
  margin: 10px;
  border: solid 1px white;
  background-color: black;
}

.btnStyle {
  width: 150px;
  height: 30px;
  background-color: #F8B62A;
  border-radius: 15px;
  border-style: none;
}

.order {
  background: url('./resources/background-hamburger.png');
  background-size: contain;
  min-height: 100vh;
  width: 100%;
  border: solid 2px green;
}

.mainlist {
  border: solid 1px red;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  background-color: #F8B62A;
  padding: 10px;
  height: 104px;
  width: 100%;
  align-items: center;
}

.headerContainer .App-logo {
  width: 80px;
  height: auto;
  background: black;
  border-radius: 100px;
}

.tittleBQ {
  font-size: 8px;
}

.headerContainer .btnStyle {
  background-image: url('./resources/right-from-bracket-solid.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.optionMenu {
  margin: 20px;
  width: 50%;
}

.formOrder {
  background-color: white;
  border-radius: 25px;
  display: inline-grid;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  width: 100%;
}

.optionMenu {
  width: 100%;
  margin: 0;
  padding: 10px;
}

.optionsListContainer {
  margin: 0;
  padding: 10px;
  border: solid 1px rgb(0, 47, 255);
}

.listProductsContainer {
  color: white;
}

.listProductsContainer img {
  height: 70px;
  width: auto;
}